# Universidad Distrital F. J. C.
## Facultad De Ingeniería
### Programación Aplicada
#### Gerardo Muñoz
gmunoz@udistrital.edu.co

<!-- De acuerdo con lo que veo en Condor:
*	El 35% del primer corte ya está definido.
*	El 30% del laboratorio lo asigna el profesor de la práctica.
*	El 35% de la nota del curso se propone definir de la siguiente manera:
  *	20% Participación en clase en el chat de Discord.
  *	15% Examen.
  
La participación se realiza haciendo un aporte al tema expuesto en la clase. Por ejemplo:
*	Puede dar un ejemplo del tema visto donde se produzca un error y como se corrige. Si varios estudiantes tienen el mismo error en el mismo tema, tienen menor nota.
*	Pueden complementar la presentación del profesor con opciones o variaciones que no fueron explicadas de alguna función explicada en clase. (En Python abundan estas opciones)
*	Si se indica en la clase, puede modificar la aplicación presentada.
*	Otra opción que sea pertinente.

Se espera un mínimo de una participación pertinente por cada clase de febrero para sacar 5.0. 

En estos momentos estoy configurando un servidor en Discord con los chats, para realizar las participaciones en clase. 

A cualquier hora pueden escribirme al correo gmunoz@udistrital.edu.co. Usualmente respondo en las primeras 24 horas. -->

# Introducción al curso de Programación Aplicada

# Jupyter

Un cuaderno de Jupyter tiene celdas de **texto** y celdas de **código**. En la nube vamos a usar:

http://colab.research.google.com/notebooks/intro.ipynb

También es posible instalar Jupyter en su computador cuando se instala Python. 

Las celdas de texto usan el formato Markdown.

### Ejercicio
1. Abrir un cuaderno de Jupyter en Google Colab.
2. Escribir una operación en la celda de código. `1 + 1`
3. Ejecutar la operación con el triángulo de la izquierda.
4. Crear una nueva celda de texto.
5. Escribir en la nueva celda el título `# Título`.
6. Crear otra celda, pero de código.
7. Escribir en esta otra celda la operación `0/0`.
8. Ejecutar esta otra celda.

In [1]:
1+1

2

# Título

In [2]:
0/0

ZeroDivisionError: division by zero

In [3]:
0=0

SyntaxError: can't assign to literal (<ipython-input-3-6baa06a40030>, line 1)

In [4]:
*0

SyntaxError: can't use starred expression here (<ipython-input-4-38343ff34e44>, line 4)

# Markdown


En Markdown se pueden colocar diferentes niveles de subtítulos como los siguientes:

## Título 2
###### Título 6

También se puede usar letra *itálica* y se puede escribir _también así_. De manera análoga se define la letra **negrilla** __de dos formas__


Se pueden colocar viñetas de diferentes niveles
* Nivel 1 ítem a
  * Nivel 2 ítem b 
  * Nivel 2 ítem c 
* Nivel 1 ítem d
  * Nivel 2 ítem e 
    * Nivel 3 ítem f 

Al igual que  listas numeradas    
1. Nivel 1 ítem a
  1. Nivel 2 ítem b 
  1. Nivel 2 ítem c 
1. Nivel 1 ítem d
  1. Nivel 2 ítem e 
    1. Nivel 3 ítem f 


También es posible colocar `código`, En particular vamos a ver el código que generó esta sección.

```
En Markdown se pueden colocar diferentes niveles de subtítulos como los siguientes:

## Título 2
###### Título 6

También se puede usar letra *itálica* y se puede escribir _también así_. De manera análoga se define la letra **negrilla** __de dos formas__


Se pueden colocar viñetas de diferentes niveles
* Nivel 1 ítem a
  * Nivel 2 ítem b 
  * Nivel 2 ítem c 
* Nivel 1 ítem d
  * Nivel 2 ítem e 
    * Nivel 3 ítem f 

Al igual que listas numeradas    
1. Nivel 1 ítem a
  1. Nivel 2 ítem b 
  1. Nivel 2 ítem c 
1. Nivel 1 ítem d
  1. Nivel 2 ítem e 
    1. Nivel 3 ítem f 
```

# Introducción

## ¿Por qué usar Python?

* Lenguaje sencillo y fácil de entender
* Tiene librerías poderosas:
  *  `numpy` para procesamiento de arreglos 
  *  `matplotlib` para graficar
  *  `scikit-learn` para aprendizaje por máquinas
  *  `keras` para aprendizaje profundo
  *  `opencv` para procesamiento de imágenes
  *  `sympy` para procesamiento simbólico
  *  `flask` y `django` para desarrollo Web.
  *  entre muchas otras.
* Usado en tarjetas para IoT

## ¿Cuáles características tiene Python?
* Interpretado, no compilado 
* Abundancia de documentación y tutoriales. Además, cuenta con la función `help(...)`.     
* Muy eficiente en el desarrollo de prototipos. 
* Programas extensos requieren herramientas adicionales para depurar.

# Python


## Tipos numéricos
### `int`. Ejemplos: `0`, `1`, `-2`.
### `float`. Ejemplos: `0.0`, `1.0`, `-2.0`, `3.14`, `0.05`, `3.08e-5`,`-5e4`.
### Operaciones: `+`, `-`, `*`,`**` , `/`, `//`, `%`

In [5]:
2**3

8

In [6]:
13//4

3

In [7]:
13%4

1

### `bool`: `True`, `False`.
### Comparadores: `<`,`>`,`<=`,`>=`,`==`,`!=`

In [8]:
1<1

False

In [9]:
1<=1

True

In [10]:
1==1

True

In [11]:
1!=1

False

### Operaciones: `and`,`or`,`not`

In [12]:
1<2 and 2<1

False

In [13]:
1<2 or 2<1

True

In [14]:
1<2 and not(2<1)

True

### Algunas funciones incorporadas de Python: `abs(x)`, `max(x,y)`, `min(x,y)`, `pow(x,y)`, `round(x,n)`

In [15]:
max(3,6,2)

6

## Variables

In [16]:
a=5
a

5

In [17]:
b=6
b

6

In [18]:
b>a

True

In [19]:
c = b>a
c

True

In [20]:
numero_de_estrellas_en_el_universo = 1000000000000000000000 + 1
numero_de_estrellas_en_el_universo

1000000000000000000001

##  `def`
Se utiliza para definir funciones

In [21]:
def conv_automoviles_y_ciclas_en_ruedas(numero_de_automoviles,numero_de_ciclas):
    numero_de_ruedas = numero_de_automoviles * 4 + numero_de_ciclas * 2
    return numero_de_ruedas

conv_automoviles_y_ciclas_en_ruedas(3,6)

24

In [22]:
conv_automoviles_y_ciclas_en_ruedas(1,0)

4

## `if`, `elif`, `else`


Aunque Python tiene definida la función de valor absoluto. Se va a definir nuevamente como un ejemplo, algo explícito, de `if`.

$abs(a)=\left\{\matrix{a & \text{ si } a > 0 \\0 & \text{ si } a = 0 \\ -a & \text{ si } a < 0  }\right.$

In [23]:
def valor_absoluto(a):
    if a>0:
        return a
    elif a == 0:
        return 0
    else:
        return -a

In [24]:
valor_absoluto(5.3)

5.3

In [25]:
valor_absoluto(-7)

7

In [26]:
valor_absoluto(-5.6e-8)

5.6e-08

# while

In [27]:
def busca_divisor(num):
    if abs(num) <= 1:
        return 1
    
    div = abs(num)-1
    while  num%div != 0 :
        div = div - 1
    return div
        
busca_divisor(100)

50

In [28]:
busca_divisor(2)

1

In [29]:
busca_divisor(1)

1

In [30]:
busca_divisor(0)

1

In [31]:
busca_divisor(-1)

1

In [32]:
busca_divisor(-2)

1

In [33]:
busca_divisor(-3)

1

In [34]:
busca_divisor(-4)

2

## `tuple`
Una secuencia de datos, separados por coma, forman un tipo de dato llamado tupla (`tuple`), el cual no se puede modificar parcialmente. En algunos casos es recomendable colocar la tupla entre paréntesis.

In [35]:
v=11, 22, 35, 44
v

(11, 22, 35, 44)

In [36]:
v[2]

35

In [37]:
v[2]=33
v

TypeError: 'tuple' object does not support item assignment

In [38]:
v[-1]

44

In [39]:
v[1:3]

(22, 35)

In [40]:
v[1:]

(22, 35, 44)

In [41]:
v[:3]

(11, 22, 35)

La concatenación de dos o más tuplas se realiza con el operador `+`

In [43]:
(3,4) + (5,7)

(3, 4, 5, 7)

In [44]:
3, 4+5, 7

(3, 9, 7)

Una tupla se puede repetir usando el operador `*`

In [46]:
v* 4

(11, 22, 35, 44, 11, 22, 35, 44, 11, 22, 35, 44, 11, 22, 35, 44)

## `list`
Una tupla (`tuple`) encerrada en corchetes define una lista (`list`) la cual sí permite modificar parcialmente.

In [47]:
u=[11, 21, 35, 44]
u

[11, 21, 35, 44]

Una de las principales diferencias entre las tuplas y las listas es que la lista se puede modificar (es mutable) pero la tupla no (es inmutable), esto la hace un poco más eficiente.

In [48]:
u=[11, 22, 35, 44]
u

[11, 22, 35, 44]

In [49]:
u[2]

35

In [50]:
u[2]=33
u

[11, 22, 33, 44]

In [51]:
u[-1]

44

In [52]:
u[1:3]

[22, 33]

In [53]:
u[1:3]=88,99
u

[11, 88, 99, 44]

In [54]:
u[1:]

[88, 99, 44]

In [55]:
u[:3]

[11, 88, 99]

In [56]:
u+u

[11, 88, 99, 44, 11, 88, 99, 44]

In [57]:
u*4

[11, 88, 99, 44, 11, 88, 99, 44, 11, 88, 99, 44, 11, 88, 99, 44]

## `str`
Una secuencia de caracteres se conoce como una cadena o _string_ (`str`). Esta se define con comillas dobles o sencillas. Este tipo de dato tampoco permite modificar parcialmente

In [58]:
texto_1 = "Usualmente aquí se escribe 'Hola Mundo'"
texto_1

"Usualmente aquí se escribe 'Hola Mundo'"

In [59]:
texto_2 = 'Usualmente aquí se escribe "Hola Mundo"'
texto_2

'Usualmente aquí se escribe "Hola Mundo"'

In [60]:
texto_1[11:15]

'aquí'

In [61]:
texto_1[11:15]='allá'

TypeError: 'str' object does not support item assignment

In [62]:
texto_1[-1]

"'"

Para presentar un texto se puede usar la función `print`

In [63]:
print(texto_1)

Usualmente aquí se escribe 'Hola Mundo'

In [64]:
print(texto_2)

Usualmente aquí se escribe "Hola Mundo"

Para leer un texto del teclado puede usarse `input`

In [86]:
texto_3 = input('Piense un dígito y escríbalo: ')
print('El dígito que pensó por 11 es:',texto_3*2)

Piense un dígito y escríbalo: Hola
El dígito que pensó por 11 es: HolaHola

## `iterable`
`tuple`, `list` y `str` son subtipos del tipo de dato `iterable`, sobre el cual se pueden aplicar algunas funciones

## `len`
La función incorporada de python `len` indica la cantidad de elementos de un iterable

La función `len` permite conocer la cantidad de elementos de una tupla o una lista

In [66]:
len([2,6,2,7,2,9,2])

7

In [67]:
len((2,6,2,7,2)) # en este caso es necesario encerrar la tupla entre paréntesis para indicar que sólo hay un argumento en la función

5

In [68]:
len(texto_1)

39

# in 
Determina si un elemento está en un iterable

In [69]:
2 in (3,5,6)

False

In [70]:
5 in [3,5,6]

True

In [71]:
'l' in 'hola'

True

# `range`
La función incorporada de Python `range`, permite generar un rango de números

In [72]:
list(range(3))

[0, 1, 2]

In [73]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [74]:
tuple(range(2,10,3))

(2, 5, 8)

# `for` variable `in` iterable:

In [75]:
for i in range(4):
    print(i)

0
1
2
3

In [76]:
for i in 'hola':
    print(i)

h
o
l
a

In [77]:
for i in [8,4,7]:
    print(i)

8
4
7

In [78]:
for i in [(3,4,5),[7,8,4],'hola']:
    print(i)

(3, 4, 5)
[7, 8, 4]
hola

In [79]:
for i in 'uno','dos','tres':
    print(i)

uno
dos
tres

#  `open` `.readline` `close`
Estas 3 instrucciones permiten leer las 'líneas' de un archivo y las pasa a una lista de `str`.

In [80]:
archivo  = open('palabras500.csv', encoding="utf-8")
lineas = archivo.readlines()
archivo.close()

len(lineas)

500

In [81]:
lineas[0]

'de\n'

In [82]:
lineas[1]

'la\n'

In [83]:
lineas[499]

'serán\n'

In [88]:
palabra  = input('Escriba una palabra: ')
if palabra+'\n' in lineas:
    print('Sí es de las 500 más comunes')
else:
    print('No es de las 500 más comunes')

Escriba una palabra: aya
No es de las 500 más comunes

# Reto
Realice una función `rima` que encuentre las palabras que finalizan según el parámetro.

In [127]:
lineas=["de",
"la",
"que",
"el",
"y",
"en",
"a",
"los",
"del",
"se",
"las",
"por",
"un",
"con",
"para",
"no",
"una",
"es",
"su",
"al",
"lo",
"como",
"más",
"o",
"este",
"pero",
"sus",
"esta",
"si",
"ha",
"me",
"ya",
"le",
"son",
"sobre",
"entre",
"ser",
"fue",
"sin",
"todo",
"también",
"desde",
"cuando",
"muy",
"a?os",
"está",
"todos",
"hay",
"tiene",
"nos",
"porque",
"dos",
"hasta",
"donde",
"parte",
"así",
"han",
"puede",
"mi",
"a?o",
"cada",
"uno",
"vez",
"bien",
"hace",
"trabajo",
"nacional",
"estado",
"otros",
"gobierno",
"eso",
"tiempo",
"además",
"mismo",
"ese",
"hacer",
"país",
"yo",
"durante",
"te",
"día",
"tanto",
"vida",
"esto",
"forma",
"estos",
"sólo",
"personas",
"ni",
"otro",
"ahora",
"hoy",
"era",
"caso",
"están",
"les",
"mejor",
"lugar",
"qué",
"quien",
]

lineas

['de',
 'la',
 'que',
 'el',
 'y',
 'en',
 'a',
 'los',
 'del',
 'se',
 'las',
 'por',
 'un',
 'con',
 'para',
 'no',
 'una',
 'es',
 'su',
 'al',
 'lo',
 'como',
 'más',
 'o',
 'este',
 'pero',
 'sus',
 'esta',
 'si',
 'ha',
 'me',
 'ya',
 'le',
 'son',
 'sobre',
 'entre',
 'ser',
 'fue',
 'sin',
 'todo',
 'también',
 'desde',
 'cuando',
 'muy',
 'a?os',
 'está',
 'todos',
 'hay',
 'tiene',
 'nos',
 'porque',
 'dos',
 'hasta',
 'donde',
 'parte',
 'así',
 'han',
 'puede',
 'mi',
 'a?o',
 'cada',
 'uno',
 'vez',
 'bien',
 'hace',
 'trabajo',
 'nacional',
 'estado',
 'otros',
 'gobierno',
 'eso',
 'tiempo',
 'además',
 'mismo',
 'ese',
 'hacer',
 'país',
 'yo',
 'durante',
 'te',
 'día',
 'tanto',
 'vida',
 'esto',
 'forma',
 'estos',
 'sólo',
 'personas',
 'ni',
 'otro',
 'ahora',
 'hoy',
 'era',
 'caso',
 'están',
 'les',
 'mejor',
 'lugar',
 'qué',
 'quien']

In [135]:
def rima(final):
    #print(lineas)
    n=len(final)
    for linea in lineas:
        if linea[-n:]==final:
            print(linea)
    print('---')

In [137]:
rima('a')

la
a
para
una
esta
ha
ya
hasta
cada
día
vida
forma
ahora
era
---

# `type`
`type` permite saber el tipo de una variable

In [90]:
type(1.0)

float

In [91]:
type(1)

int

In [92]:
type(True)

bool

In [95]:
type((1.0, 1, True))

tuple

In [96]:
type([1.0, 1, True])

list

In [97]:
type('Adivina mi tipo')

str

In [99]:
type(max)

builtin_function_or_method

In [100]:
type(conv_automoviles_y_ciclas_en_ruedas)

function

In [101]:
type(str)

type

In [118]:
a=5
type(a)

int

# `None`
`None` es un objeto de Python que se usa cuando queremos indicar que nuestra variable no tiene ningún objeto válido. El tipo asociado es `NoneType`

In [89]:
type(None)

NoneType

In [110]:
bool(None)

False

In [111]:
int(None)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

In [113]:
float(None)

TypeError: float() argument must be a string or a number, not 'NoneType'

In [112]:
str(None)

'None'

# `pass`
Esta sentencia no realiza nada. Usualmente se usa durante el desarrollo de un programa, para indicar que un bloque está pendiente de realizar, y así evitar que se genere un error.

In [119]:
def pasos_para_vivir_sin_problemas(nombre):
    pass

pasos_para_vivir_sin_problemas('yo')

In [120]:
def pasos_para_vivir_sin_problemas(nombre):

pasos_para_vivir_sin_problemas('yo')

IndentationError: expected an indented block (<ipython-input-120-d34593c3a56c>, line 3)

# Reto 2
Realice una función `promedio` que encuentre el promedio de una tupla o una lista

# Ejemplo de promedio
A continuación, haremos dos ejemplos para calcular el promedio 

$promedio(v)= \frac{1}{n} \sum_{i=1}^n v_i$

donde $\vec{v}=\left(\matrix{v_1\\v_2\\ \vdots \\v_n}\right)$

In [107]:
def promedio_1(numeros):
    acumulador = 0
    for numero in numeros:
        acumulador = acumulador + numero
    return acumulador/len(numeros)

In [113]:
u

[11, 88, 99, 44]

In [108]:
promedio_1(u)

60.5

In [114]:
v

(11, 22, 35, 44)

In [109]:
promedio_1(v)

28.0

In [110]:
def promedio_2(numeros):
    acumulador = 0
    for i in range(len(numeros)):
        acumulador = acumulador + numeros[i]
    return acumulador/len(numeros)

In [115]:
u

[11, 88, 99, 44]

In [111]:
promedio_2(u)

60.5

In [116]:
v

(11, 22, 35, 44)

In [112]:
promedio_2(v)

28.0